@use 'root';

.empDetail{
  width: 98%;
  margin-top:2rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  .avatar{
    width: 20%;
    text-align: center;
    img{
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
    .empName{
      margin-top: 1rem;
      color:root.$enuygun-text-dark;
    }
    .empVote{
      color: root.$enuygun-text-default;
    }
  }
  .body{
    border:1px solid root.$enuygun-disabled;
    border-radius: root.$enuygun-border-radius;
    width: 50%;
    margin-top: 1rem;
    padding: 2rem;
    .empInfo{
      list-style-type: none;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      li{
        margin-bottom: .5rem;
        .infoHead{
          font-weight: bold;
          font-size: 1.2rem;
          color: root.$enuygun-dark-green;
        }
        .data{
          font-size: 1rem;
          color: root.$enuygun-disabled;
          text-indent: .5rem;
        }
      }
    }
  }
  .property{
    font-size: 1rem;
    color: root.$enuygun-text-dark;
  }
}